<!--

<audio id="music1" controls autoplay="autoplay" loop="loop" preload="auto"> 
    <source src="http://music.163.com/song/media/outer/url?id={{.Get 0 }}.mp3" type="audio/mpeg" /> 
</audio> 
<script> 
var audio = document.getElementById('music1');
$("#btn").bind(
	"touchstart", function bf() {
		if(audio !== null) {
			//检测播放是否已暂停.audio.paused 在播放器播放时返回false.
			//alert(audio.paused);
			if(audio.paused) {
				audio.play(); //audio.play();// 这个就是播放
				$("#btn").addClass("active")
				} else {
					audio.pause(); // 这个就是暂停
					$("#btn").removeClass("active")
					}
				}
			})
</script>	

-->

<!-- 由于Aplayer音乐播放器的实装，自动播放单曲的功能已经取消，为保持旧文章的兼容使用不会自动播放的网易外链播放器代替。-->

<iframe frameborder="0" border="1" marginwidth="0" marginheight="0" width=310 height=90 src="//music.163.com/outchain/player?type=2&id={{.Get 0 }}&auto=1&height=66"  ></iframe>
